<!DOCTYPE html>
<html lang="es">

{{ partial "head.html" . }}

<body class="page page-ecosystem">
  {{ partial "header.html" . }}

  <main class="main">
    <div class="container">
      {{ range .Data.Pages.ByPublishDate.Reverse }}
        <div class="ally">
          <div class="post-title">
            <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
          </div>
          <div class="post-thumbnail">
            <a href="{{ .Permalink }}"><img src="{{ .Params.thumbnail }}" alt="{{ .Title }}"></a>
          </div>
          <div class="post-content">
            {{ .Summary }}
          </div>
        </div>
      {{ end }}
    </div>
  </main>

  {{ partial "footer.html" . }}
  {{ partial "scripts.html" . }}
</body>
</html>
