.footer {
  background-color: $purple;
  padding: 2em;
  text-align: center;
  color: #fff;
  font-size: 1rem;




  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

    a {
      padding: 0.2em;
    }
    .svg {
      width: 1.5em;
      fill: #fff;
    }
  }

}
