.header {
  .container {
    .row {
      display: flex;
      justify-content: space-between;
    }
  }
}


@media screen and (max-width: 767px) {
  .header {
    .container {
      .row {
        .logo {
          width: 100%;
          img {
            margin: 0 auto;
          }
        }
      }
    }
  }
}


