.header {
  width: 84%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}


@media screen and (max-width: 960px) {
  .header {
    display: block;
    .logo {
      display: block;
      img {
        margin: 0 auto;
      }
    }
  }
}


@media screen and (max-width: 520px) {
  .header {
    .nav {
      .menu {
        a {
          text-align: center;
          display: block;
        }
      }
    }
  }
}
