.header {
  padding: 2em;

  .nav {
    display: flex;
    width: 620px;
    margin: 0 auto 2em;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
    a {
      margin-right: 1em;
      text-decoration: none;
      color: $blueking;
      font-size: 0.95rem;
      font-weight: bold;
      &:hover {
        color: $orange;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .logo img {
    display: block;
    width: 100px;
    border-radius: 50%;
    margin: 0 auto;
  }
}