.post {
  padding-right: 1.25em;

  .post-title {
    a {
      font-size: 1.5rem;
      color: $purple;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
    }

}


.post-tiny {
  width: 500px;
  margin: 0 auto;
  // box-shadow: 3px 3px 5px rgb(245, 245, 245);
}
