.page-events {

  .container {
    padding: 4em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
  }

  .post {
    margin-bottom: 3em;
    .post-title {
      text-align: center;
    }

    .post-thumbnail {
      img {
        width: 100%;
        height: auto;
      }
    }
    .post-topics {
      .topic {
        display: inline-block;
        font-family: monospace;
        font-weight: bold;
        color: $sky;

        &:after {
          content: '/>';
          color: $blue;
        }
        &:before {
          content: '<';
          color: $blue;
        }
      }
    }
  }
}

.page-event {

}
