.homepage {
  .about {
    .buttons {
      display: flex;
      justify-content: center;

      .col-50 {
        margin: 1em;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .homepage {
    .about {
      .buttons {
        width: 90%;
        .col-50 {
          display: block;
          width: 90%;
        }
      }
    }
  }
}
