<!DOCTYPE html>
<html lang="es">

{{ partial "head.html" . }}

<body class="page page-sponsors">
  {{ partial "header.html" . }}

  <main class="main">
    <div class="container">
    	<div class="row">
    		<div class="col-100">
					{{ range .Data.Pages.ByPublishDate.Reverse }}
						<div class="post-title">
							<h1>{{ .Title }}</h1>
						</div>
						<div class="post-thumbnail">
							<img src="{{ .Params.thumbnail }}" alt="{{ .Title }}">
						</div>
						<div class="post-content">
							{{ .Params.description }}
						</div>
						<div class="post-footer">
							<a href="{{ .Permalink }}">Leer más</a>
						</div>
					{{ end }}
    		</div>
    	</div>
    </div>
  </main>

  {{ partial "footer.html" . }}
  {{ partial "scripts.html" . }}
</body>
</html>
