<!DOCTYPE html>
<html lang="es">

{{ partial "head.html" . }}

<body class="page page-directory">
  {{ partial "header.html" . }}

  <main class="main">
    <div class="container">
      {{ range .Data.Pages.ByDate.Reverse }}
      <div class="member">
        <div class="post-title">
          <h4><a href="{{ .Permalink }}">{{ .Params.name }}</a></h4>
        </div>
        <div class="post-thumbnail">
          <img src="{{ .Params.thumbnail }} " alt="{{ .Params.name }}" class="thumbnail">
        </div>
        <div class="post-content">
          <div class="rol"><strong>Rol</strong>: {{ .Params.rol }}</div>
          <div class="disponibility"><strong>Disponibilidad para trabajo</strong>: {{ .Params.disponibility }}</div>
          <div class="description"><strong>Descripción</strong>: {{ .Params.description }}</div>
          <div class="skills"><strong>Habilidades:</strong> {{ .Params.skills }}</div>
        </div>
        <div class="post-footer">
          <a href="{{ .Permalink }}">Leer más</a>
        </div>
      </div>
      {{ end }}
    </div>
  </main>

  {{ partial "footer.html" . }}
  {{ partial "scripts.html" . }}
</body>
</html>
