<!DOCTYPE html>
<html lang="es">

{{ partial "head.html" . }}

<body class="single single-blog">
	{{ partial "header.html" . }}

	<main class="main">
		<div class="container">
			<div class="row">
				<div class="col-100">
					<div class="post-title">
						<h1>{{ .Params.Name }}</h1>
					</div>
					<div class="post-thumbnail">
						<img src="{{ .Params.thumbnail }}" alt="{{ .Params.nickname }}" class="thumbnail">
					</div>
					<div class="post-meta">
						<div class="rol"><strong>Rol</strong>: {{ .Params.rol }}</div>
						<div class="disponibility"><strong>Disponibilidad para trabajo</strong>: {{ .Params.disponibility }}</div>
						<div class="website"><strong>Sitio Web</strong>: <a href="{{ .Params.website }}">{{ .Params.website }}</a></div>
						<div class="skills"><strong>Habilidades:</strong> {{ .Params.skills }}</div>
					</div>
					<div class="post-content">
						<p>{{ .Content }}</p>
					</div>
					<div class="post-footer">
						<p class="post-meta">Publicado por <strong>{{ .Params.author }}</strong> el {{ .Date.Format "2006-01-02" }}</p>
					</div>
				</div>
			</div>
		</div>
	</main>

	{{ partial "footer.html" . }}
	{{ partial "scripts.html" . }}
</body>
</html>
