.nav {
  .menu {
    padding-top: 1em;
    padding-left: 2em;
    a {
      text-decoration: none;
      color: $blue;
      padding-right: 0.65em;
      font-size: 1.2rem;
      &:hover{
        color: $sky;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .nav {
    .menu {
      padding-top: 1em;
      padding-left: 0;
      a {
        padding-right: 0;
      }
    }
  }
}
