/* Default Rules for margin and paddings */
pre {
  margin: 30px;
  padding: 10px;
  font-size: 16px;
  font-family: monospace;
  background-color: $gray;
  color: $sky;
}

figure {
  border: 1px solid $gray;
  border-radius: 4px;
  background-color: $almost-white;
  display: inline-block;
}


ul, ol {
  margin-left: 1.25em;
}
