<!DOCTYPE html>
<html lang="es">

{{ partial "head.html" . }}

<body class="page page-events">
  {{ partial "header.html" . }}

  <main>
    {{ range .Data.Pages.ByDate.Reverse}}
			<div class="post-title">
				<h1>{{ .Title }}</h1>
			</div>
			<div class="post-content">
				{{ .Params.description }}
			</div>
			<div class="post-footer">
				<a href="{{ .Permalink }}">Leer más</a>
			</div>
		{{ end }}
  </main>

  {{ partial "footer.html" . }}
  {{ partial "scripts.html" . }}
</body>
</html>
